<h3 class="text-center">Register trade</h3>
<br/>
<form #investForm="ngForm" (ngSubmit)="onSubmit(investForm)">
  <div class="row">
    <input type="hidden" name="$key" [(ngModel)]="invest.$key">
    <div class="form-group col-2">
      <label>Broker</label>
      <select class="form-control" name="broker" [(ngModel)]="invest.broker" (change)="onChangedBroker()">
        <option *ngFor="let b of brokers" value="{{ b }}">{{ b }}</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label>Date buy</label>
      <input type="date" class="form-control" name="dateTimeBuy" [(ngModel)]="invest.dateTimeBuy">
    </div>
    <div class="form-group col-3" [ngClass]="{ hidden: hidden.dateTimeApply }">
      <label>Date apply</label>
      <input type="date" class="form-control" name="dateTimeApply" [(ngModel)]="invest.dateTimeApply">
    </div>
    <div class="form-group col-3">
      <label>Date sell</label>
      <input type="date" class="form-control" name="dateTimeSell" [(ngModel)]="invest.dateTimeSell">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-2">
      <label>Price buy</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-dollar"></i>
          </span>
        </div>
        <input type="text" min="1" pattern="^[0-9]+([.]{1}[0-9]+)?$" class="form-control" name="priceBuy" [(ngModel)]="invest.priceBuy" (change)="onChangedPriceBuy()">
      </div>
    </div>
    <div class="form-group col-2">
      <label>Quantity</label>
      <input type="text" min="1" pattern="^[0-9]+([.]{1}[0-9]+)?$" class="form-control" name="quantity" [(ngModel)]="invest.quantity" (change)="onChangedQuantity()">
    </div>
    <div class="form-group col-2" [ngClass]="{ hidden: hidden.commission }">
      <label>Commission</label>
      <div class="input-group">
        <input class="form-control" name="commission" [(ngModel)]="invest.commission">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-percent"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group col-2">
      <label>Total</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-dollar"></i>
          </span>
        </div>
        <input type="number" min="1" class="form-control" name="total" [(ngModel)]="invest.total" disabled>
      </div>
    </div>
    <div class="form-group col-2">
      <label>Price sell</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-dollar"></i>
          </span>
        </div>
        <input type="text" min="1" pattern="^[0-9]+([.]{1}[0-9]+)?$" class="form-control" name="priceSell" [(ngModel)]="invest.priceSell" (change)="onChangedPriceSell()">
      </div>
    </div>
    <div class="form-group col-2">
      <label>Profit</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-dollar"></i>
          </span>
        </div>
        <input class="form-control" name="profit" [(ngModel)]="invest.profit" disabled>
      </div>
    </div>
    <div class="form-group col-2">
      <label>Type</label>
      <select class="form-control" name="type" [(ngModel)]="invest.type">
        <option *ngFor="let t of types" value="{{ t }}">{{ t }}</option>
      </select>
    </div>
    <div class="form-group col-2">
      <label>Instrument</label>
      <input type="text" min="1" class="form-control" name="instrument" [(ngModel)]="invest.instrument" (change)="onChangedInstrument()" required>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <button class="btn btn-secondary" type="button" (click)="resetForm(investForm)">
        <i class="fa fa-repeat"></i>Reset
      </button>
      <button class="btn btn-success" type="submit" [disabled]="!investForm.valid">
        <i class="fa fa-floppy-o"></i>Submit
      </button>
    </div>
  </div>
</form>