<div class="col-md-4" *ngIf="currentUser">
  <nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" *ngIf="route !== INVEST_ROUTES.History" routerLink="history">History</a>
    <a class="nav-item nav-link" *ngIf="route !== INVEST_ROUTES.User" routerLink="user">User</a>
    <a class="nav-item nav-link disabled" href="#" (click)="logout()">Logout</a>
  </nav>
</div>
