:host {
    /* modals are hidden by default */
    display: none;

    .mi-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .mi-modal-background */
        z-index: 100;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .mi-modal-body {
            padding: 20px;
            background: #fff;
            border-radius: 20px;

            /* margin exposes part of the modal background */
            margin: 40px;
        }
    }

    .mi-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.80;
        
        /* z-index must be below .mi-modal and above everything else  */
        z-index: 90;
    }
}

body.mi-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
