<ul>
  <li><a routerLink="firstComponent">First component</a></li>
  <li><a routerLink="secondComponent">Second component</a></li>
  <!-- <li><a routerLink="secondComponent">Other component</a></li> -->
</ul>