<h3 class="text-center">History</h3>
<br/>
<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date Buy</th>
      <th scope="col">Date Apply</th>
      <th scope="col">Broker</th>
      <th scope="col">Price Buy</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Profit</th>
      <th scope="col">Type</th>
      <th scope="col">Instrument</th>
      <th scope="col">Edit Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invest of investList; let i = index;">
      <th scope="row">{{ (i+1) }}</th>
      <td>{{ invest.dateTimeBuy }}</td>
      <td>{{ invest.dateTimeApply }}</td>
      <td>{{ invest.broker }}</td>
      <td>{{ invest.priceBuy }}</td>
      <td>{{ invest.quantity }}</td>
      <td>{{ invest.total }}</td>
      <td>{{ invest.profit }}</td>
      <td>{{ invest.type }}</td>
      <td>{{ invest.instrument }}</td>
      <td>
        <a class="btn" (click)="onEdit(invest)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(invest.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <thead class="thead-dark">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td scope="col">
        <div class="btn-add" (click)="openModal('invest-modal')">
          <a>
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </td>
    </tr>
  </thead>
</table>
