@import "~bootswatch/dist/litera/variables";

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: $gray-400;
  }

.btn-add {
    cursor: pointer;
    background-color: $primary;
    color: $white;
    border-radius: 4px;
}