<!--<div class="text-center">
  <h2 class="jumbotron">Invest register</h2>
</div>-->
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-invest-list></app-invest-list>
  </div>
</div>

<app-modal id="invest-modal">
  <app-invest></app-invest>
</app-modal>