// body {
//    margin: 0 auto;
//    max-width: 1000px;
//    background: url('assets/img/sandbox.png') no-repeat center;
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    font-family: 'Source Sans Pro', calibri, Arial, sans-serif !important;
//    min-height: 550px;
// }
// .content {
//    flex: 1 0 auto;
// }
// footer {
//    padding: 10px 0;
//    text-align: center;
// }

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";
@import "~font-awesome/css/font-awesome.css";
// @import "~ngx-toastr/toastr.css";

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}
button:hover,a.btn:hover {
    cursor: pointer;
}